@use "./base.scss";

// put your custom CSS here!

h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
}

h3, h4 {
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
}

p {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}


[saved-theme="dark"] {
    h2 {
        color: rgb(133, 255, 133);
    }

    .external {
        color: turquoise;
    }

    .internal {
        color: rgb(11, 153, 223)
    }
}

[saved-theme="light"] {
    h2 {
        color: rgb(46, 94, 255)
    }
}
